.header__lang-link {
    display: flex;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    color: #FFFFFF;
    max-width: 30px;
    margin: 0;
    padding: 0;
}
.header__lang-link:last-child {
    text-decoration: none;
    padding-left: 18px;
    max-width: 29px;
}
.header__lang-link:hover {
    opacity: 0.8;
    transition: opacity 0.2s;
}
@media screen and (max-width: 320px) {
    .header__lang-link {
        max-width: 22px;
        height: 20px;
        line-height: 1.11;
        font-size: 18px;
    }
}