.place__title {
    display: grid;
    max-width: 460px;
    width: 100%;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    color: #FFFFFF;
    grid-area: place__title;
    text-align: left;
    align-self: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        max-width: 340px;
        font-size: 5.46875vw;
        line-height: 1.1;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 1.09;
    }
}