.page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    text-decoration-color: #FFFFFF;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    background: #2A2C2F;
    min-width: 320px;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .page {
        min-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .page {
        min-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .page {
        min-width: 320px;
    }
}