.page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  text-decoration-color: #FFFFFF;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background: #2A2C2F;
  max-width: 1280px;
}

@media screen and (max-width: 360px) {
  .page {
    align-items: normal;
    align-content: normal;
  }
}