.places {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  justify-content: center;
  width: calc(100% - 148px*2);
}

@media screen and (max-width: 1024px) {
  .places {
    width: 100%;
  }
}