.places {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  max-width: calc(100% - 16px*2);
  align-items: center;
  align-content: center;
  justify-content: center;
}