.lead__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 32px;
  padding: 56px 0 64px 0;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead__content {
    padding: 48px 0 56px 0;
  }
}

@media screen and (max-width: 768px) {
  .lead__content {
    max-width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 450px) {
  .lead__content {
    padding: 48px 0 40px 0;
    row-gap: 16px;
    max-width: 100%;
  }
}