.place__image {
    display: grid;
    width: 100%;
    height: auto;
    background-size: contain;
    padding: 0;
    margin: 0;
    object-fit: cover;
    align-self: self-start;
    align-items: center;
    overflow: hidden;
}