.place__texts {
    display: grid;
    margin: 0;
    padding: 0;
    grid-area: place__texts;
    width: 100%;
    align-self: self-start;
}
.place__texts:first-child {
    padding-bottom: 26px;
}
@media screen and (max-width: 1024px) {
    .place__texts {
        max-width: 456px;
    }
}
@media screen and (max-width: 768px) {
    .place__texts {
        max-width: 352px;
    }
}
@media screen and (max-width: 360px) {
    .place__texts {
        max-width: 288px;
        margin: 0 auto;
    }
}