.place__texts {
    display: grid;
    margin: 0;
    padding: 0;
    grid-area: place__texts;
    align-self: self-start;
}

@media screen and (max-width: 1024px) {
    .place__texts {
        max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .place__texts {
        max-width: 352px;
    }
}

@media screen and (max-width: 600px) {
    .place__texts {
        max-width: 100%;
    }
}