.intro__lists {
  max-width: 690px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 148px;
  width: calc(100% - 148px);
}

@media screen and (max-width: 1024px) {
  .intro__lists {
    width: 100%;
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro__lists {
    margin-left: 0;
  }
}

@media screen and (max-width: 360px) {
  .intro__lists {
    margin: 0 16px;
    width: calc(100% - 16px);
  }
}