.cover__subtitle {
    display: flex;
    z-index: 1;
    max-width: 360px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #FFFFFF;
    text-align: center;
    padding: 0;
    padding-top: 34px;
    margin: 0 auto auto auto;
}
@media screen and (max-width: 1024px) {
    .cover__subtitle {
        padding-top: 32px;
    }
}
@media screen and (max-width: 768px) {
    .cover__subtitle {
        font-size: 16px;
        line-height: 1.14;
    }
}
@media screen and (max-width: 511px) {
    .cover__subtitle {
        max-width: 484px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        width: calc(100% - 2*16px);
        max-width: 80%;
        font-size: 14px;
        padding-top: 16px;
    }
}