.cover__subtitle {
    z-index: 4;
    max-width: 360px;
    height: 66px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #FFFFFF;
    position: absolute;
    margin: 429px auto 245px auto;
    padding: 0;
    text-align: center;
}
@media screen and (max-width: 1024px) {
    .cover__subtitle {
        padding-top: 32px;
        margin-top: 379px;
    }
}
@media screen and (max-width: 768px) {
    .cover__subtitle {
        font-size: 16px;
        line-height: 1.14;
        padding-top: 32px;
        margin-top: 299px;
    }
}
@media screen and (max-width: 511px) {
    .cover__subtitle {
        max-width: 484px;
        margin-top: 240px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        width: calc(100% - 2*16px);
        height: 48px;
        font-size: 14px;
        line-height: 1.14;
        margin-bottom: 33px;
    }
}