.photo-grid__item {
    max-width: 284px;
    width: 100%;
    min-height: 213px;
    display: grid;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .photo-grid__item {
        max-width: 300px;
        min-height: 225px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid__item {
        max-width: 352px;
        min-height: 264px;
    }
}

@media screen and (max-width: 360px) {
    .photo-grid__item {
        width: 100%;
    }
}