.header {
    display: flex;
    align-items: baseline ;
    justify-content: space-between;
    padding: 28px 48px 0 48px;
    margin: 0 auto;
    max-width: 1184px;
    width: calc(100% - 48px*2);
    min-height: 52px;
    background-color: #2A2C2F;
    text-decoration-color: #FFFFFF;
}
*{
    outline: 1px solid red;
 }
@media screen and (max-width:1024px) {
  .header {
    max-width: 928px;    
 }
}
  @media screen and (max-width:768px) {
     .header {
       padding: 28px 24px 0 24px;
       max-width: calc(100% - 2*24px);
      }
   }

  @media screen and (max-width:320px) {
    .header {
      padding: 16px 16px 0 16px;
      max-width: calc(100% - 2*16px);
    }
   }