.footer__link {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
    color: #FFFFFF;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.footer__link:hover {
    opacity: 0.8;
    transition: opacity 0.2s;
}

@media screen and (max-width: 518px) {
    .footer__link {
        line-height: 1;
        margin-right: 2.34375vw;
        justify-content: flex-start;
        font-size: 24px;
        padding-bottom: 32px;
    }
}