.lead__title {
    display: flex;
    max-width: 720px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: calc((100vw - 320px)/(1280 - 320)*(96 - 40) + 40px);
    line-height: 1;
    text-align: center;
    color: #FFFFFF;
    margin: 56px auto 32px auto;
    padding: 0;
    justify-content: center;
}

@media screen and (max-width: 320px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 1.1;
        margin: 48px 16px 16px 16px;
    }
}