.footer__links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    column-gap: 18px;
}

@media screen and (max-width: 320px) {
    .footer__links {
        width: 100%;
        margin-bottom: 16px;
        flex-direction: column;
        list-style-type: none;
    }
}