.place__paragraph {
    display: flex;
    flex-wrap: wrap;
    max-width: 484px;
    width: 100%;
    color: #FFFFFF;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    height: min-content;
    margin: 0;
    padding: 0;
    text-align: left;
    align-items: flex-start;
  }
  .place__paragraph:first-child {
    padding-bottom: 26px;
  }
  @media screen and (max-width: 1024px) {
    .place__paragraph:first-child {
      padding-bottom: 27px;
    }
  }
  @media screen and (max-width: 768px) {
    .place__paragraph {
      font-size: 16px;
      min-width: 47.22vw;           
    }
    .place__paragraph:first-child {
      padding-bottom: 0;
    }
}
@media screen and (max-width: 416px) {
  .place__paragraph {
      max-width: 56.06vw;
      font-size: 14px;
    }
}
@media screen and (max-width: 320px) {
  .place__paragraph {
    padding-bottom: 50px;    
  }
  .place__paragraph:last-child {
    padding-top: 25px;
  }
}