.intro__text {
    display: flex;
    max-width: 690px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    color: #FFFFFF;
    margin: 0;
    padding: 40px 0 33px 0;
    margin-left: 148px;
    width: calc(100% - 148px);
}

@media screen and (max-width: 1024px) {
    .intro__text {
        width: 100%;
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro__text {
        max-width: 720px;
        margin-left: 0;
    }
}

@media screen and (max-width: 360px) {
    .intro__text {
        padding: 40px 16px 34px 16px;
        max-width: calc(100% - 16px*2);
    }
}