.intro__text {
    display: flex;
    max-width: 690px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    color: #FFFFFF;
    margin: 0;
    padding: 40px 0 33px 0;
    margin-left: 100px;
    width: calc(100% - 100px);
}

@media screen and (max-width: 1024px) {
    .intro__text {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .intro__text {
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .intro__text {
        padding: 40px 0 34px 0;
    }
}