.intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-self: flex-start;
  width: 100%;
}

@media screen and (max-width: 786px) {
  .intro {
    max-width: calc(100% - 48px*2);
  }
}

@media screen and (max-width: 768px) {
  .intro {
    align-self: auto;
    max-width: 100%;
  }
}