.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  position: relative;
  max-width: 1184px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-size: cover;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    width: calc(100% + 4.6875vw*2);
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    width: calc(100% + 24px*2);
  }
}

@media screen and (max-width: 518px) {
  .cover {
    width: calc(100% + 24px*2);
  }
}

@media screen and (max-width: 360px) {
  .cover {
    max-width: 360px;
    width: calc(100% + 4.44vw*2);
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    width: calc(100% + 16px*2);
  }
}