.cover__background {
    display: flex;
    width: 100%;
    max-width: 1184px;
    min-height: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .cover__background {
        max-width: 1024px;
        margin: 0;
    }
}

@media screen and (max-width: 360px) {
    .cover__background {
        width: 100%;
    }
}