.intro__title {
    display: flex;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    max-width: 690px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    margin-left: 148px;
    width: calc(100% - 148px);
}

@media screen and (max-width: 1024px) {
    .intro__title {
        width: 100%;
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro__title {
        max-width: 720px;
        margin-left: 0;
    }
}

@media screen and (max-width: 462px) {
    .intro__title {
        font-size: 11.239vw;
        line-height: 1.1;
    }
}

@media screen and (max-width: 360px) {
    .intro__title {
        max-width: calc(100% - 16px*2);
        font-size: 32px;
        line-height: 1.09;
        padding: 0 16px;
    }
}